@model UtThienWeb.Models.Course
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using UtThienWeb.Controllers;
<div class="container">
    <ul class="breadcrumb corlor_white">
        <li><a href="#" style="color:white">Trang Chủ</a></li>
        <li><a href="#" style="color:white">Khóa Học Bánh</a></li>
        <li><a href="/khoa-hoc/@HomeController.RemoveUnicode(ViewBag.catalog)" style="color:white">@ViewBag.catalog</a></li>
        <li><a href="#" style="color:white">@Model.CourseName</a></li>
    </ul>
</div>
<div class="container body-baiviet">
    <div class="row">
        <aside class="left left-content  col-md-3 col-md-pull-9 left-coure">
            <div class="aside-item collection-category">
                <div class="aside-heading">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <h2 class="title-head"><a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">Bài viết nổi bật</a></h2>
                </div>
                <div class="aside-content">
                    <div class="list-blogs list-blogs-page-blog">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">
                                    <img width="100%" height="100%" src="/img/@(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsThumbails)" alt="Làm bánh, tránh... games">
                                </a>
                            </div>
                            <h3 class="blog-item-name"><a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">@(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle)</a></h3>
                            <div class="postby">
                                <div class="pull-left">
                                    <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                </div>
                                <div class="pull-left">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> @(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsDate)
                                </div>
                            </div>
                            @*<p class="blog-item-summary">@Model.OrderByDescending(a => a.NewsViews).First().NewsContent.Substring(GetHashCode)</p>*@
                        </article>
                        @foreach (var item in ((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).Skip(1))
                        {
                            <article class="blog-item">
                                <h3 class="blog-item-name"><a href="/@HomeController.RemoveUnicode(item.NewsTitle)">@item.NewsTitle</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> @item.NewsDate
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>

        </aside>
        <section class="right-content col-md-9 col-md-push-4 right-coure1">
            <article class="article-main">
                <div class="row" style="background-color: rgba(0,0,0,0.5) !important;">
                    <div class="col-lg-12">

                        <div class="article-details list-blogs-page-blog">
                            <h1 class="article-title"><a href="#" itemprop="name" class="title-bv">@Model.CourseName</a></h1>

                            <div class="postby">
                                <div class="pull-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>Út Thiện
                                </div>
                                <div class="pull-left">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> @Model.TimeCreate
                                </div>
                            </div>
                            <ul class="posts-by-tags">
                            </ul>

                            <div class="article-content" itemprop="description">
                                <div class="rte">
                                    @Html.Raw(@Model.CourseDescription)
                                </div>

                            </div>
                        </div>
                    </div>

                    @*<div class="article-tags col-md-6 col-sm-6 col-xs-12">
                            <span style="color: white;">tags:</span>
                            <ul class="list-unstyled tags">

                                <li><a href="/blogs/all/tagged/cong-ty-rikkeisoft">Công Ty RikkeiSoft</a></li>

                            </ul>
                        </div>*@

                    <!--<div class="col-xs-12 col-sm-12 social-sharing">

                        <div class="social-media" data-permalink="https://utthien.com/cong-ty-rikkeisoft" style="color: white;">
                            Chia sẻ:

                            <a target="_blank" href="//www.facebook.com/sharer.php?u=https://utthien.com/cong-ty-rikkeisoft" class="share-facebook" title="Chia sẻ lên Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <a target="_blank" href="//twitter.com/share?text=CôngTyRikkeiSoft&amp;url=https://utthien.com/cong-ty-rikkeisoft" class="share-twitter" title="Chia sẻ lên Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://utthien.com/cong-ty-rikkeisoft&amp;media=http:1024x1024&amp;description=CôngTyRikkeiSoft" class="share-pinterest" title="Chia sẻ lên pinterest">
                                <i class="fab fa-pinterest"></i>
                            </a>

                            <a target="_blank" href="//plus.google.com/share?url=https://utthien.com/cong-ty-rikkeisoft" class="share-google" title="+1">
                                <i class="fab fa-google-plus"></i>
                            </a>

                        </div>
                    </div>-->
                    <div class="col-xs-12 coment">
                        <br>
                        <br>
                        <h5 class="title-form-coment"><b>0 bình luận</b></h5>
                        <form accept-charset="UTF-8" action="/posts/cong-ty-rikkeisoft/comments" id="article_comments" method="post">
                            <input name="FormType" type="hidden" value="article_comments">
                            <input name="utf8" type="hidden" value="true">

                            <div>
                                <div class="form-coment page-login">
                                    <div>
                                        <h5 class="title-form-coment"><b>Gửi ý kiến của bạn cho chúng tôi</b></h5>
                                    </div>
                                    <div class="row">

                                        <fieldset class="form-group col-xs-12 col-sm-6">
                                            <span>Tên *</span>
                                            <input type="text" class="form-control form-control-lg" value="" id="full-name" name="Author" required="">
                                        </fieldset>
                                        <fieldset class="form-group col-xs-12 col-sm-6">
                                            <span>Email *</span>
                                            <input type="email" class="form-control form-control-lg" value="" name="Email" required="">
                                        </fieldset>
                                        <fieldset class="form-group col-xs-12 col-sm-12 col-md-12">
                                            <span>Nhập nội dung</span>
                                            <textarea class="form-control form-control-lg" id="comment" maxlength="500" name="Body" rows="6" required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="btn-binhluan">
                                        <br>
                                        <button type="submit" class="btn btn-style btn-primary">Gửi bình luận</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <!-- End form mail -->
                            </div>
                        </form>
                    </div>

                </div>
            </article>
        </section>
    </div>
</div>
