@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model IEnumerable<UtThienWeb.Models.Course>
<div class="container">
    <ul class="breadcrumb corlor_white">
        <li><a href="../" style="color:white">Trang Chủ</a></li>
        <li><a href="#" style="color:white">Khóa Học Bánh</a></li>
        <li><a href="#" style="color:white">@(((UtThienWeb.Models.CourseCatalog)ViewBag.catalog).CourseCatalogName)</a></li>

    </ul>
</div>
<div class="container">
    <div class="row">
        <aside class="left left-content hidden-xs hidden-sm col-md-3 col-md-pull-9 left-coure">
            <div class="aside-item collection-category">
                <div class="aside-heading">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <h2 class="title-head"><a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">Bài viết nổi bật</a></h2>
                </div>
                <div class="aside-content">
                    <div class="list-blogs list-blogs-page-blog">
                        <article class="blog-item">
                            <div class="blog-item-thumbnail">
                                <a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">
                                    <img width="100%" height="100%" src="/img/@(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsThumbails)" alt="Làm bánh, tránh... games">
                                </a>
                            </div>
                            <h3 class="blog-item-name"><a href="/@(HomeController.RemoveUnicode(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle))">@(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsTitle)</a></h3>
                            <div class="postby">
                                <div class="pull-left">
                                    <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                </div>
                                <div class="pull-left">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> @(((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).First().NewsDate)
                                </div>
                            </div>
                            @*<p class="blog-item-summary">@Model.OrderByDescending(a => a.NewsViews).First().NewsContent.Substring(GetHashCode)</p>*@
                        </article>
                        @foreach (var item in ((IEnumerable<UtThienWeb.Models.News>)ViewBag.topViews).Skip(1))
                        {
                            <article class="blog-item">
                                <h3 class="blog-item-name"><a href="/@HomeController.RemoveUnicode(item.NewsTitle)">@item.NewsTitle</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> @item.NewsDate
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </aside>
        @using UtThienWeb.Controllers
        @using System.Globalization
        @using System
        <section class="right right-content col-md-9 col-md-push-4 right-coure">
            <section class="list-blogs blog-main list-blogs-page-blog">
                <div class="row row-right-bv">
                    @foreach (var item in Model)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="blog-item">
                                <div class="blog-item-thumbnail">
                                    <a href="/@HomeController.RemoveUnicode(item.CourseName)">
                                        <img class="img-khoahoc" src="~/img/@item.CourseThumbails" alt="LỊCH HỌC" width="100" height="200">
                                    </a>
                                </div>
                                <h3 class="blog-item-name"><a href="/@HomeController.RemoveUnicode(item.CourseName)" class="line-clamp line-clamp-2">@item.CourseName</a></h3>
                                <div class="postby">
                                    <div class="pull-left">
                                        <i class="fa fa-user" aria-hidden="true"></i> ÚT THIỆN
                                    </div>
                                    <div class="pull-left">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> @DateTime.Parse(item.TimeCreate.ToString()).ToShortDateString()
                                    </div>
                                </div>
                                <p class="blog-item-summary"> Trung Tâm Út Thiện - Học Làm Bánh Đà Nẵng </p>
                                <div class="price-wrapper">
                                    <p class="price product-page-price ">
                                        <span class="woocommerce-Price-amount amount">@String.Format(CultureInfo.InvariantCulture, "{0:N0}", item.CoursePrice)<span class="woocommerce-Price-currencySymbol"> ₫/người</span></span>
                                    </p>
                                </div>
                                <div style="margin-bottom: 8px;">
                                    <a href="/@HomeController.RemoveUnicode(item.CourseName)" style="color: white;"><button class="btn btn-success" style="width: 100%;">CHI TIẾT</button></a>
                                </div>
                                <div style="width:100%;" class="button-order">
                                    <input value="ĐẶT KHÓA HỌC" id="@item.CourseId" type="button" class="btn btn-danger" style="width: 100%;">
                                </div>
                            </article>
                        </div>
                    }
                    <!---<nav aria-label="Something.." class="pagenumber">
                            <ul class="pagination justify-content-end">
                                <li class="page-item ">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>-->
                </div>

            </section>
        </section>
    </div>
</div>

