@model IEnumerable<UtThienWeb.Areas.Admin.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Đơn đặt khóa học</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Tên Người Đặt
                                    </th>
                                    <th>
                                        Số Điện Thoại
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Vào lúc
                                    </th>
                                    <th>
                                        Chuyên Đề Đã Đặt
                                    </th>
                                    <th>
                                        Tình Trạng
                                    </th>
                                    <th>Xác Nhận Đơn</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Account.AccountName
                                        </td>
                                        <td>
                                            @item.Account.AccountPhone
                                        </td>
                                        <td>
                                            @item.Account.AccountEmail
                                        </td>
                                        <td>
                                            @item.CreationDate
                                        </td>
                                        <td>
                                            <table class="table">

                                                @foreach (var subitem in item.OrderDetails)
                                                {
                                                    <tr>
                                                        <td>@subitem.Course.CourseName</td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                        <td>
                                            @if (item.OrderStatus == true)
                                            {<p style="color:limegreen">Đơn thành công</p>}
                                            @if (item.OrderStatus == false)
                                            {<p style="color:red">Đơn đã hủy</p>}
                                            @if (item.OrderStatus == null)
                                            {<p>Đang chờ liên lạc</p>}

                                        </td>
                                        <td>
                                            <form action="/Admin/Orders/Apply" method="post">
                                                <input hidden type="number" name="id" value="@item.OrderId" />
                                                <button name="apply" value="success" style="font-size:12px;padding:4px 6px 6px 4px !important" onclick="" class="btn btn-primary">Thành công</button>
                                                <button name="apply" value="failed" style="font-size:12px;padding:4px 6px 6px 4px !important" class="btn btn-primary">Hủy đơn</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

